<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p>“Patience, persistence and perspiration make an unbeatable combination for success.” –<i> Napoleon Hill</i></p>
    </div>
    <div class="carousel-item">
      <p>“Self-belief and hard work will always earn you success.” –<i> Virat Kohli</i></p>
    </div>
    <div class="carousel-item">
      <p>“Seventy percent of success in life is showing up.” –<i> Woody Allen</i></p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
