.carousel-item {
  font-weight: bolder;
  padding: 1rem 0.5rem;
  color: #383d41;
}

.carousel-inner{
  background-color: #f8f9fa;
  text-align: center;
  height: 57px;
  font-family: sans-serif;
  font-weight: 100;
}

i {
  color: black;
}
