<nav class="navbar border-bottom">
  <div>
    <a routerLinkActive="active" routerLink="/help" class="small" href="">Help</a>
  </div>
  <div class="form-inline">
    <div *ngIf="user">
      <small class="mr-1">Diep Tran</small>
      <small  class="mr-1">|</small>
      <a routerLinkActive="active" class="small mr-1">Logout</a>
    </div>
    <div *ngIf="!user">
      <a routerLinkActive="active" routerLink="/login" class="small mr-1" href="">Login</a>
      <small  class="mr-1">|</small>
      <a routerLinkActive="active" routerLink="/signUp" class="small mr-1" href="">Register</a>
    </div>
  </div>
</nav>
