@import "../../../../../assets/variables";

::ng-deep .dx-resizable {
  width: inherit!important;
  height: inherit!important;
}

@media only screen and (min-width: 481px) {
  ::ng-deep .dx-resizable {
    width: 350px !important;
    height: 500px !important;
  }

}

@media only screen and (min-width: 769px) {

}
